

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-layout{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:1fr 2fr 1fr 3fr 1fr 3fr 3fr 3fr 1fr;
  grid-template-areas: 'header'
                        'intro'
                        'ques-stat'
                        'community'
                        'linkedin-git'
                        'coding-site'
                        'skills'
                        'your-ques'
                        'footer';
}
.header{
grid-area: header;
background-color: aquamarine;
}
.intro{
  grid-area: intro;
  background-color: rgb(236, 255, 127);
}
.ques-stat{
  grid-area: ques-stat;
  background-color: rgb(133, 127, 255);
}
.community{
  grid-area: community;
  background-color: rgb(246, 201, 110);
}

.linkedin-git{
  grid-area: linkedin-git;
  background-color: rgb(209, 103, 128);
}
.coding-site{
  grid-area: coding-site;
  background-color: rgb(143, 149, 145);
}     
      
.skills{
  grid-area: skills;
  background-color: rgb(47, 158, 250);
}      
      
    
.heatmap{
  grid-area: heatmap;
  background-color: rgb(86, 176, 83);
  visibility: hidden;
}

.your-ques{
  grid-area: your-ques;
  background-color: hsl(305, 27%, 33%);
}
.footer{
  grid-area: footer;
  background-color: rgb(127, 193, 255);
}

      
@media only screen and (min-width:768px){
  .heatmap{
    visibility: inherit;
  }
  .dashboard-layout{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(9,1fr);
    grid-template-areas: 'header header header header'
                          'intro coding-site coding-site coding-site'
                          'intro coding-site coding-site coding-site'
                          'ques-stat skills skills skills' 
                          'community skills skills skills' 
                          'community heatmap heatmap heatmap'
                          'community your-ques your-ques your-ques'
                          'linkedin-git your-ques your-ques your-ques'
                          'footer footer footer footer'
                          ;
  }
}