/* 
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-layout{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:1fr 2fr 1fr 3fr 1fr 3fr 3fr 3fr 1fr;
    grid-template-areas: 'header'
                          'intro'
                          'ques-stat'
                          'community'
                          'linkedin-git'
                          'coding-site'
                          'skills'
                          'your-ques'
                          'footer';
}
.header{
 grid-area: header;
 background-color: aquamarine;
}
.intro{
    grid-area: header;
    background-color: rgb(236, 255, 127);
}
.ques-stat{
    grid-area: header;
    background-color: rgb(133, 127, 255);
}
.community{
    grid-area: header;
    background-color: rgb(246, 201, 110);
}

.linkedin-git{
    grid-area: header;
    background-color: rgb(209, 103, 128);
}
.coding-site{
    grid-area: header;
    background-color: rgb(143, 149, 145);
}     
        
.skills{
    grid-area: header;
    background-color: rgb(47, 158, 250);
}      
        
      
.heatmap{
    grid-area: header;
    background-color: rgb(86, 176, 83);
}

.your-ques{
    grid-area: header;
    background-color: rgb(73, 39, 70);
}
.footer{
    grid-area: header;
    background-color: rgb(127, 193, 255);
}
        
         */